$break-mobile: "only screen and (min-width : 376px)";
$break-desktop: "only screen and (min-width : 900px)";
$break-tablet-down: "only screen and (max-width : 899px)";
$large-sreen: "only screen and (min-width : 1440px)";

