<nav class="disp-row just-sb">
    <button class="font-pt-serif nav-brand font-40 font-bold">{{'HEADER.rest' | translate}}</button>
    <button class="hide-desktop">
        <mat-icon svgIcon="ic-menu"></mat-icon>
    </button>
    <div class="menu disp-row hide-mobile">
        <ul class="disp-row font-roboto font-20 font-w-300 align-center just-center">
            <li>
                <a href="#history">
                    {{'HEADER.aboutUs' | translate}}
                </a>
            </li>
            <li>
                <a href="">
                    {{'HEADER.menu' | translate}}
                </a>
            </li>
            <li>
                <a href="">
                    {{'HEADER.events' | translate}}
                </a>
            </li>
            <li>
                <a href="">
                    {{'HEADER.news' | translate}}
                </a>
            </li>
            <li>
                <a href="">
                    {{'HEADER.contact' | translate}}
                </a>
            </li>
        </ul>
        <div class="menu-social-media disp-row">
            <button>
                <mat-icon svgIcon="ic-fb"></mat-icon>
            </button>
            <button>
                <mat-icon svgIcon="ic-tw"></mat-icon>
            </button>
            <button>
                <mat-icon svgIcon="ic-ig"></mat-icon>
            </button>
        </div>
    </div>
</nav>